a{
    text-decoration: none; 
    color: #EEEEEE;
}
a:hover{ 
    text-decoration: none; 
    color: #9bf;
}
#main-body{
    background: #434343; 
    height: 1150px;
    color: #EEEEEE;
}
#main-label{
    margin: 0px 25px; 
    padding-top: 10%;
}
#main-label h1{
    font-size: 75px;
}

#main-nav{ 
    width: 100px; 
    font-size: 25px;
    margin: 0px 200px;
}

#glcanvas{ 
    position: absolute;
}

.main-nav-a{  
    margin: 20px;
}